/* General styling */

* {
  margin:0;
  padding:0;
}

h1, h2, h3, h4  {
  margin-bottom:10px;
}

h1 {
  margin-bottom:25px;
  letter-spacing:0.01px;
}

h3 {
  text-transform:uppercase;
  font-weight:bold;
}

p {
  margin-bottom:15px;
}

body {
  font: 300 0.9em 'Inconsolata', Monaca, Menlo, Courier new;
  line-height:1.416em;
  color:#0b0b0b;
  padding-top:20px;
}

ul {
  list-style:none;
}

.sidebar {
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}

a, a.visited {
  color:inherit;
}

.main {
  margin-left: 230px;
  min-width: 710px;
  position: relative;
}

.title {
  margin-top:10px;
  margin-bottom:5px;
  font-size:20px;
}

.title a {
  text-decoration:none;
}

.description {

  width: 180px;
  margin: 20px auto;
}

.description p {
  margin-bottom:30px;
}

.contact_links {
  font-size:90%;
  color:#444;
}


/* Post styling */

.post {
  max-width: 500px;
}

.signoff {
  color:#666;
  font-size:80%;
  font-style:italic;
}
