<!DOCTYPE html>
<html>
  <head>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="Code in the Wild" name="description" />
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/codeinthewild.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Code in the Wild - Atom" href="/atom.xml" />
    <title>Code in the Wild - {{ page.title }}</title>
    {% include analytics.html %}
  </head>
  <body>
    <div class="sidebar">
      <div class="description">
        <a href="/"><img src="/images/maples.jpg"></a>
        <h1 class="title"><a href="/">Code in the Wild</a></h1>
        <p>Matt Perpick * Brooklyn NY</p>
        <p>
          <ul class="contact_links">
            <li><a href="mailto:matthewperpick@gmail.com">e-mail</a></li>
            <li><a href="http://twitter.com/_shiningtree">twitter</a></li>
            <li><a href="http://shiningtree.tumblr.com">tumblr</a></li>
            <li><a href="http://github.com/clutchski">github</a></li>
          </ul>
        </p>
      </div>
    </div>
    <div class="main">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
